
$title-color: greendark;

$fa-color : #ECEFE9;
$btn-bg: #7db06f91;
$text-color-green: #3C533C;
$btn-bg--hov: #00A935;

$block-gradient: linear-gradient(0deg, rgb(30, 35, 38) 14%, rgba(21, 38, 37, 0.9850533964) 98%, rgb(0, 169, 53) 110%);
$block-gradient--light: linear-gradient(to bottom, rgba(254,254,254,1) 0%,rgba(209,209,209,1) 50%,rgba(219,219,219,1) 55%,rgba(226,226,226,1) 100%);
$block-gradient--dark: linear-gradient(to bottom, #444444 0%, #222222 100%);

$box-shadow-big: inset -20px 20px 20px rgb(0 0 0 / 20%), 20px 20px 30px rgb(0 0 0 / 30%);
//$box-shadow-small: 3px 3px 5px rgb(0 0 0 / 20%), 5px 5px 0px rgb(0 0 0 / 10%);
$box-shadow-small: inset 0px 1px 0px #7db06f91, 0px 5px 0px 0px #7db06f91, 0px 10px 5px #999;;

$block-header-color: #EEF1EB;
