// Import Bootstrap and BootstrapVue CSS files (order is important)
@import 'bootstrap/dist/css/bootstrap.css';
@import 'bootstrap-vue/dist/bootstrap-vue.css';
@import 'bootstrap-vue/dist/bootstrap-vue-icons.min.css';
@import url('https://fonts.googleapis.com/css2?family=Podkova&display=swap');
@import "_variables";
@import 'vue3-carousel/dist/carousel.css';

@import "button";
@import "Header";
@import "body";

@import "article";

@import "block";

body {
    background: #1E2326;
    font-family: 'Podkova', serif;
}

main {
    background: #DEE2DF;
    border-radius: 15px;
    margin: 0 10px 0px 10px;
}

figure {
    text-align: center;
}

.credit {
    float: left;
}

img.lazy{
    max-width: 100%!important;
    height: inherit!important;
}

table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin: auto;

    thead tr {
        background-color: #009879;
        color: #ffffff;
        text-align: left;
    }

    th, td {
        padding: 12px 15px;
    }

    tbody tr {
        border-bottom: 1px solid #dddddd;
    }

    tbody tr:nth-of-type(even) {
        background-color: $btn-bg--hov;
        color: white;
    }

    tbody tr.active-row {
        font-weight: bold;
        color: #009879;
    }
}

pre {
    background: $fa-color ;
}
