.block {

  background: $block-header-color;
  box-shadow: $box-shadow-small;
  border-radius: 15px 10px 10px 10px;
  margin-bottom: 10px;

  .circle {
    margin: -2px;
    box-shadow: none;
  }

  a {
    text-decoration: none;
  }

  .block-header  {
    background-color: #b9b9b9;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    /*color: transparent;*/
    color: $text-color-green;
    text-shadow: 2px 2px 2px rgba(255,255,255,0.3) ;
    font-size: 1.7rem;

    &:hover {
      color: $btn-bg--hov;
    }


  }

  .block-content {
    padding: 10px;
    background: #e9ecef;
  }
  .block-bottom {
    background: $block-gradient;
    color: #e9ecef;
    font-size: clamp(13px, 3cqi, 20px);
    overflow: hidden;
    border-radius: 0px 0px 10px 10px;
    padding: 5px;

  }


}
