
.base-content {
  .base-block{
    text-shadow: none;
    //margin: 10px;
    //margin-left: 0;

    .circle .inner {
      background: $btn-bg--hov;
    }

    .block-header {

      color: $btn-bg--hov;
    }

    .progress {
      margin-bottom: 5px;

      .progress-bar {
        background-color: #00A935;
      }
    }

    a {
      width: auto;
    }
  }

  h1, h2, h3 {
    text-align: center;
    color: $title-color;

  }

  h2, h3 {
    color: $text-color-green;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    text-transform: uppercase;

    &:before {
      background: #ccc;
      bottom: 1px;
      content: "";
      display: block;
      height: 1px;
      left: calc(50% - 60px);
      position: absolute;
      width: 120px;
    }
    &:after {
      background: $btn-bg--hov;
      bottom: 0;
      content: "";
      display: block;
      height: 3px;
      left: calc(50% - 20px);
      position: absolute;
      width: 40px;
    }
  }

  .img-skills {
    background-image: url('@/../img/index/skills.png');
    background-size: cover;

  }

  .row {
    margin-bottom: 10px;
  }

}



.container {
  .block {
    &:hover {
      margin-top: -5px;
    }
  }

  .no-hover {
    &:hover {
      margin-top: 0px;
    }
  }

  nav {
    font-size: 1rem;
  }
}


