.button {
  .circle,
  .inner {
    border-radius: 50%;
    height: 3em;
    width: 3em;
    box-sizing: content-box;
  }
  .circle {
    background-color: $btn-bg;
    padding: 2px;
    position: relative;
    box-shadow: $box-shadow-big;
    display: inline-block;
    margin: 10px auto;
  }
  .circle::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-shadow: inset 2px 2px 2px #DEE2DF;
    border-radius: 50%;
  }
  .inner {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset -3px 3px 6px rgba(0, 0, 0, .3);
    background: #3C533C; /* Фон кнопки */
    color: #fff;
    text-decoration: none;
    //font-size: 24px;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    transition: all .3s ease-in-out;
  }
  a:hover .inner {
    background: $btn-bg--hov; /* Фон кнопки при наведении */
    color: #337AB7;
  }

  svg {
    color: #ECEFE9;
    height: 1.5em;

  }
}
