//header {
//
//  nav {
//
//    a {
//
//      display: inline-block;
//      margin: 20px;
//      width: 50px;
//      height: 50px;
//      background: url(http://subtlepatterns.com/patterns/extra_clean_paper.png);
//      cursor: pointer;
//      border-radius: 50%;
//
//      box-shadow: 0 3px 20px rgba(0,0,0,.25),
//      inset 0 2px 0 rgba(255,255,255,.6),
//      0 2px 0 rgba(0,0,0,.1),
//      inset 0 0 20px #2B4524;
//
//      svg {
//
//        color: #A6ACA7;
//      }
//    }
//  }
//}

header {
  img {
    height: 3em;
    width: auto;
  }
  
}

