<template>
    <header class="site-header sticky-top py-1">
        <nav class="container d-flex flex-md-row justify-content-between">
            <a class="py-2 d-none d-sm-block " href="/" aria-label="Product">
                <img src="../img/index/left_medium.png" height="235" width="837"/>
            </a>
            <div class="button">
                <router-link
                        :to="'/'"
                >
                    <div class="circle">
                        <div class="inner">
                            <font-awesome-icon icon="fas fa-home"/>
                        </div>
                    </div>
                </router-link>
            </div>
            <div class="button">
                <router-link
                        :to="'/portfolio'"
                >
                    <div class="circle">
                        <div class="inner">
                            <font-awesome-icon icon="fas fa-globe"/>
                        </div>
                    </div>
                </router-link>
            </div>
            <div class="button">
                <router-link
                        :to="'/price'"
                >
                    <div class="circle">
                        <div class="inner">
                            <font-awesome-icon icon="fas fa-ruble-sign"/>
                        </div>
                    </div>
                </router-link>
            </div>
            <div class="button">
                <router-link
                        :to="'/article'"
                >
                    <div class="circle">
                        <div class="inner">
                            <font-awesome-icon icon="fas fa-newspaper"/>
                        </div>
                    </div>
                </router-link>
            </div>
            <div class="button">
                <router-link
                        :to="'/contact'"
                >

                    <div class="circle">
                        <div class="inner">
                            <font-awesome-icon icon="fas fa-address-card"/>
                        </div>
                    </div>
                </router-link>
            </div>
        </nav>
    </header>

    <main>
        <!-- Контент страницы -->
        <div class="container base-content">
            <div class="block base-block no-hover button row">
                <router-link :class="'col-2 col-sm-1'" :to="history">
                <div class="circle ">
                        <div class="inner">
                            <font-awesome-icon :icon="currentRouteIcon"/>
                        </div>
                </div>
                </router-link>
                <div class="block-header col">
                    <h1>{{currentRouteName}}</h1>
                    <div :class="'progress ' + (fullWatch ? 'gradient-border': '') ">
                        <div class="progress-bar progress-bar-striped progress-bar-animated"
                             role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                             :style="'width:'+routeVisited+'%'"></div>
                    </div>
                </div>
            </div>

            <div class="block-content">
                <router-view/>
            </div>
        </div>
        <FlashMessage position="right bottom" time="10000" strategy="single" group="hints"/>
    </main>

</template>

<script>

    export default {
        name: "App",

        data () {
            return {
                'history' : '/',
                'fullWatch' : false
            }
        },

        computed: {
            // Get percent of visited links
            routeVisited() {
                // Get array of links
                const routes = JSON.parse(localStorage.getItem('routes'));

                // Visited links
                let visited = JSON.parse(localStorage.getItem('visited'));

                // If in visited links not find current, add item
                if(!visited.includes(this.$route.path)){
                    visited.push(this.$route.path)
                    localStorage.setItem('visited', JSON.stringify(visited));
                }

                let percent = visited.length / routes.length * 100
                if(percent == 100){
                    this.fullWatch = true
                    localStorage.setItem('discount', JSON.stringify(3));
                    // @ToDo error TypeError: Cannot read properties of undefined (reading 'currentHeight')
                    // this.$flashMessage.show({
                    //     group: 'hints',
                    //     type:'error',
                    //     title: 'Поздравляем!',
                    //     message: 'Вы изучили весь сайт, Вам доступна скидка 3%!'
                    // });
                }

                return percent
            },
            currentRouteName() {
                return this.getCurRoute().title;
            },
            currentRouteIcon() {

                return this.getCurRoute().icon;
            }
        },

        methods: {
            getCurRoute() {
                // Get array of links
                const routes = JSON.parse(localStorage.getItem('routes'));
                let rt = {}
                rt = routes.find(el => el.name == this.$route.name);
                if(typeof (rt) === 'object') {return rt;} else {return {icon:'fas fa-home', title: 'Главная'}}
            }
        },

        watch: {
            $route(to, from) {
                this.history = from.fullPath
            }
        }
    }
</script>

<style lang="scss" scoped>

    .base-content {
        box-shadow: inset 2px 2px 5px rgb(154 147 140 / 50%), 1px 0px 0px rgb(255 255 255)
    }

    .gradient-border {
        --borderWidth: 3px;
        background: #1D1F20;
        /*position: relative;*/
        border-radius: var(--borderWidth);
    }
    .gradient-border:after {
        content: '';
        position: absolute;
        top: calc(-1 * var(--borderWidth));
        left: calc(-1 * var(--borderWidth));
        height: calc(100% + var(--borderWidth) * 2);
        width: calc(100% + var(--borderWidth) * 2);
        background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
        border-radius: calc(2 * var(--borderWidth));
        z-index: -1;
        animation: animatedgradient 3s ease alternate infinite;
        background-size: 300% 300%;
    }


    @keyframes animatedgradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
</style>
