<template>
    <div class="container article">
        <div v-if="this.article">
            <div class="row">
                <div class="article-text col-md-6">
                    <figure class="article-img">
                        <img :src="article.img" :alt="article.title"/>
                        <figcaption>
                            <h3>{{article.title}}</h3>
                            <p>
                                Перевод статьи
                                <a
                                        :href="'https://infoworld.com/article' + article.link + '.html'"
                                        target="_blank"
                                        rel="nofollow"
                                >
                                    {{article.code}}
                                </a>
                            </p>
                        </figcaption>
                    </figure>
                </div>
                <div class="article-text col-md-6">
                    <h3>{{article.description}}</h3>
                </div>
            </div>
            <div class="article-text" v-html="article.body">
            </div>
        </div>
    </div>
</template>

<script>
    import {ref} from 'vue'
    import '//cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js?skin=desert'



    export default {
        name: "ArticleDetail",
        data(){
            return {
                'article': ref([])
            }
        },
        created() {
            let article = ref([])
            axios.get('/api/v1/article/' + this.$route.params.id)
                .then(function (response) {
                    article.value = response.data.data
                })
            this.article = article
        },
        methods:{
            dateTime(value) {
                return moment(value).format('YYYY-MM-DD');
            }
        }
    }
</script>

<style lang="scss" scoped>



    .article-text {
        overflow: hidden;
        margin: 0;
        list-style: none;
    }
    .article-text figure {
        position: relative;
        z-index: 1;
        display: inline-block;
        overflow: hidden;
        background: #527c82;
        text-align: center;
        cursor: pointer;
    }
    .article-text figure img {
        position: relative;
        display: block;
        min-height: 100%;
        opacity: 0.8;
    }
    .article-text figure figcaption {
        padding: 2em;
        color: #fff;
        text-transform: uppercase;
        font-size: 1.25em;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    .article-text figure figcaption::before,
    .article-text figure figcaption::after {
        pointer-events: none;
    }
    .article-text figure figcaption{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .article-text figure h3 {
        word-spacing: -0.15em;
        font-weight: 300;
    }
    .article-text figure h3 span {
        font-weight: 800;
    }
    .article-text figure h3,
    .article-text figure p {
        margin: 0;
        color: black;
    }
    .article-text figure a {
        color:lawngreen;
    }
    .article-text figure p {
        letter-spacing: 1px;
        font-size: 68.5%;
    }

    /* Эффект при наведении */
    figure.article-img {
        background: #527c82;
    }
    figure.article-img img {
        width: -webkit-calc(100% + 20px);
        width: calc(100% + 20px);
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        transform: scale(1.1);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    figure.article-img:hover img {
        opacity: 0.4;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
    figure.article-img figcaption {
        text-align: left;
    }
    figure.article-img h3 {
        position: relative;
        overflow: hidden;
        padding: 0.5em 0;
    }
    figure.article-img h3::after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background: #fff;
        content: '';
        -webkit-transition: -webkit-transform 0.35s;
        transition: transform 0.35s;
        -webkit-transform: translate3d(-100%,0,0);
        transform: translate3d(-100%,0,0);
    }
    figure.article-img:hover h3::after {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
    figure.article-img p {
        padding: 1em 0;
        opacity: 0;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: translate3d(100%,0,0);
        transform: translate3d(100%,0,0);
    }
    figure.article-img:hover p {
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

    pre { display: block; background-color: #333 }
    pre .nocode { background-color: none; color: #000 }
    pre .str { color: #ffa0a0 } /* string  - pink */
    pre .kwd { color: #f0e68c; font-weight: bold }
    pre .com { color: #87ceeb } /* comment - skyblue */
    pre .typ { color: #98fb98 } /* type    - lightgreen */
    pre .lit { color: #cd5c5c } /* literal - darkred */
    pre .pun { color: #fff }    /* punctuation */
    pre .pln { color: #fff }    /* plaintext */
    pre .tag { color: #f0e68c; font-weight: bold } /* html/xml tag    - lightyellow */
    pre .atn { color: #bdb76b; font-weight: bold } /* attribute name  - khaki */
    pre .atv { color: #ffa0a0 } /* attribute value - pink */
    pre .dec { color: #98fb98 } /* decimal         - lightgreen */
</style>
