<template>
    <div class="container">
        <h2>Обратная связь</h2>
        <div class="row">
            <div class="col-sm-4">
                <img src="/index/qrchimpX512.png" style="width: -webkit-fill-available; margin-top: -30px"/>
            </div>
            <div class="col-sm-8">
                <form action="#" class="form " @submit.prevent="submitForm" >
                    <input
                            type="hidden"
                            name="_token"
                            :value="csrf"
                    >

                    <div class="input-group mb-3">
                        <span class="input-group-text" >@</span>
                        <input v-model="form.name" type="text" name="name" class="form-control" placeholder="Как к Вам обращаться" aria-label="Name" aria-describedby="basic-addon1" required>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" >Email</span>
                        <input v-model="form.email" type="email" name="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" required>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" >Услуга</span>
                        <input v-model="form.type" class="form-control" name="type" list="datalistOptions" id="service" placeholder="Выберите из списка или введите свой текст..." required>
                        <datalist id="datalistOptions">
                            <option value="Сайт-шаблон" />
                            <option value="Сайт под ключ" />
                            <option value="Техподдержка" />
                            <option value="Сайт бесплатно" />
                            <option value="Уточним при общении" />
                        </datalist>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Сообщение</span>
                        <textarea v-model="form.message" class="form-control" aria-label="With textarea" name="message"></textarea>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" >Скидка %</span>
                        <input v-model="form.discount" class="form-control" name="discount"  placeholder="Здесь будет доступная скидка..." disabled/>
                    </div>
                    <div class="my-3">
                        <div v-if="errors.length" class="error-message alert alert-danger" role="error">
                            {{errors}}
                        </div>
                        <div id="sent-message">
                        </div>
                    </div>
                    <div class="input-group mb-3" >
                        <div
                                style="height: 100px; border-radius: 6px 0px 6px 0px;"
                                id="captcha-container"
                                class="smart-captcha"
                                data-sitekey="1SJIRwiKxfO4GTf7U5BcFAgSTfgEfeLuRSk5avnu"
                        >

                        </div>
                        <button
                                type="submit"
                                class="btn btn-primary btn-block">
                            Отправить
                        </button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</template>
<script>
    import { Form } from 'vform'
    export default {
        name: "Contact",
        data() {
            return {
                csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                errors: [],
                form: new Form({
                    name: '',
                    _token: '',
                    email: '',
                    type: '',
                    message: '',
                    smart_token: '',
                    discount: localStorage.getItem('discount'),
            })

            }
        },
        mounted() {

            this.form.discount = localStorage.getItem('discount');
            const recaptchaScript = document.createElement("script");
            recaptchaScript.setAttribute(
                "src",
                "https://captcha-api.yandex.ru/captcha.js"
            );
            document.head.appendChild(recaptchaScript);
        },
        methods: {
            submitForm() {
                this.form.smart_token = document.getElementsByName('smart-token')[0].value;
                if(this.form.smart_token.length > 0) {
                    this.form.post('/api/v1/send-mail/')
                        .then((response) => {
                            let attr = document.getElementById("sent-message");
                            attr.innerHTML = 'Спасибо за обращение, мы свяжемся с Вами!';
                            this.form.reset();
                        })
                } else {
                    this.errors.push('Не верная captha');
                }
            },

        }
    }
</script>
<style lang="scss">
    .CheckboxCaptcha-Button {

    }
</style>
