<template>
        <Banner />

        <div class="container">
            <div class="row">
                <div class="col-12"> <h2>О НАС</h2></div>
                <div class="col-sm-6">
                    <p>Мы - команда разработчиков под руководством опытных специалистов с 20-летним стажем в разработке.</p>

                    <p>
                        Наши сотрудники учавствовали в разработке таких крупных проектов, как eldorado.ru и vprok.ru<br>
                        Мы можем обеспечить полный цикл создания проектов от дизайна до автоматизации внедрения на сервера.<br/>
                        Мы не завышаем цены, так как работа приносит нам удовольствие<br/>
                        Наша команда может выстроить ваш собственный ИТ отдел для внутренней разработки и сопровождения проектов.<br/>
                    </p>
                </div>

                <div class="col-sm-6">
                    Свяжитесь с нами, и вместе мы найдем решение, как помочь Вашему бизнесу расцвести.
                </div>
            </div>

            <div class="row">
                <div class="col-12"> <h2>Наши компетенции</h2></div>
                <div class="col-sm-6 img-skills" ></div>
                <div class="col-sm-6">
                    <div class="col-sm-12">
                        <p>Есть основные направления, с которыми мы работаем, но никак не ограничиваемся только ими.</p>
                        <p>В зависимости от Ваших пожеланий, мы можем расширить необходимый набор.</p>
                    </div>
                    <div class="col-sm-12">
                        <h4>Bitrix</h4>
                        <div class="progress">
                            <div class="progress-bar  "
                                 role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                                 :style="'width:100%'"></div>
                        </div>
                        <h4>Laravel</h4>
                        <div class="progress">
                            <div class="progress-bar "
                                 role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"
                                 :style="'width:90%'"></div>
                        </div>

                        <h4>React/Vue</h4>
                        <div class="progress">
                            <div class="progress-bar "
                                 role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                                 :style="'width:75%'"></div>
                        </div>

                        <h4>CI/CD</h4>
                        <div class="progress">
                            <div class="progress-bar "
                                 role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                                 :style="'width:50%'"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <Feedback />
            </div>
        </div>
</template>
