<template>
    <div class="container">
        <div v-if="show.portfolios" class="portfolio row">
            <div v-for="portfolio in portfolios" class="col-sm-6">
                <div class="block button">
                    <a :href="portfolio.path" class="row" target="_blank" rel="nofollow">
                        <div class="circle col-1 col-sm-2">
                            <div class="inner">
                                <font-awesome-icon :icon=" icons[portfolio.type]"/>
                            </div>
                        </div>
                        <div class="block-header col-9 col-sm-10">
                            {{portfolio.title}}
                        </div>
                    </a>
                    <div class="block-content">
                        <img :src="'/storage/' + portfolio.image"/>
                    </div>
                    <div class="block-bottom">{{portfolio.technology}}</div>
                </div>
            </div>
        </div>
        <div v-else >
            Загружается...
        </div>
    </div>
</template>

<script>
    import { ref } from 'vue'

    export default {
        name: "Portfolio",
        data(){
            return {
                'show': {
                    'portfolios': false
                },
                'icons': {
                    'web' : 'fas fa-globe',
                    'app' : 'fas fa-mobile-screen',
                    'shop': 'fas fa-shop'
                },
                'portfolios': ref([]),
            }
        },
        created() {
            this.changePage()

        },
        methods:{
            dateTime(value) {
                return moment(value).format('YYYY-MM-DD');
            },


            changePage(url){
                let sPath = !!url ? url : '/portfolio';
                let portfolios = ref([])
                axios.get('/api/v1' + sPath)
                    .then(function (response) {
                        portfolios.value = response.data.data;
                    })
                this.portfolios = portfolios;
                this.show.portfolios = true
            }
        },
    }
</script>

<style lang="scss" scoped>
    .portfolio {
        img {
            width: -webkit-fill-available;
        }
    }

</style>
