<template>
    <div class="container">

        <div v-if="this.show.links">
            <ButtonPagination :links="links"></ButtonPagination>
        </div>
        <div class="row" v-if="this.show.articles">
            <div class="blog-card col-md-6"  v-for="article in articles">
                <div class="meta">
                    <div class="photo" :style="'background-image: url(' + article.img + ')'"></div>
                    <ul class="details">
                        <li class="date">{{dateTime(article.updated_at)}}</li>
                        <li class="tags">
                            <ul>
                                <li v-for="category in article.categories">
                                    <router-link
                                            :to="'#'"
                                    >
                                        {{category.title}}
                                    </router-link>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="description">
                    <h1>{{article.title}}</h1>
                    <h2>{{article.code}}</h2>
                    <p>{{article.description}}</p>
                    <p class="read-more">
                        <router-link
                                :to="article.path"
                        >
                            Читать далее...
                        </router-link>
                    </p>
                </div>
            </div>
        </div>
        <div v-if="this.show.links">
            <ButtonPagination :links="links"></ButtonPagination>
        </div>
    </div>
</template>

<script>
    import { ref } from 'vue'
    import moment from 'moment'



    export default {
        name: "Article",
        data(){
            return {
                'show': {
                    'links': false,
                    'articles': false
                },
                'page': 1,
                'isAlt' : false,
                'articles': ref([]),
                'links': ref([])
            }
        },
        created() {
            this.changePage()

        },
        methods:{
            dateTime(value) {
                return moment(value).format('YYYY-MM-DD');
            },


            changePage(url){
                let sPath = !!url ? url : '/article';
                let articles = ref([])
                let links = ref([])
                axios.get('/api/v1' + sPath)
                    .then(function (response) {
                        articles.value = response.data.data
                        links.value = response.data.links
                    })
                this.articles = articles
                this.links = links
                this.show.links = true
                this.show.articles = true
            }
        },

        watch: {
            $route(to, from) {
                this.changePage(to.fullPath)
            }
        }
    }
</script>

<style scoped>

</style>
