<template>
    <div class="container">
        <div class="row">
            <h2>Услуги</h2>
            <div class="col-sm-3">
                <div class="block button">
                    <a href="#" class="row">
                        <div class="circle col-1 col-sm-2">
                            <div class="inner">
                                <font-awesome-icon icon="fas fa-ruble-sign"/>
                            </div>
                        </div>
                        <div class="block-header col-9 ">
                            Сайты под ключ
                        </div>
                    </a>
                    <div class="block-content">
                        От визиток до магазинов и маркет-плейсов
                    </div>
                    <div class="block-bottom">От 270 000р до 600 000р</div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="block button">
                    <a href="#" class="row">
                        <div class="circle col-1  col-sm-2">
                            <div class="inner">
                                <font-awesome-icon icon="fas fa-ruble-sign"/>
                            </div>
                        </div>
                        <div class="block-header col-9 ">
                            Техподдержка
                        </div>
                    </a>
                    <div class="block-content">
                        Возьмем на себя заботу по уходу за вашим интернет-питомцем
                    </div>
                    <div class="block-bottom">От 100000 р/мес</div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="block button">
                    <a href="#" class="row">
                        <div class="circle col-1 col-sm-2">
                            <div class="inner">
                                <font-awesome-icon icon="fas fa-ruble-sign"/>
                            </div>
                        </div>
                        <div class="block-header col-9 ">
                            Процессы
                        </div>
                    </a>
                    <div class="block-content">
                        Наладим качественную работу в вашем ИТ отделе
                    </div>
                    <div class="block-bottom">От 3500 р/час</div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="block button">
                    <a href="#" class="row">
                        <div class="circle col-1 col-sm-2">
                            <div class="inner">
                                <font-awesome-icon icon="fas fa-ruble-sign"/>
                            </div>
                        </div>
                        <div class="block-header col-9 ">
                            Обучение
                        </div>
                    </a>
                    <div class="block-content">
                        Узнайте, что такое ИТ, и с чем его едят
                    </div>
                    <div class="block-bottom">От 2000 р/час</div>
                </div>
            </div>

        </div>

        <h2>Цены</h2>

        <div class="price row">
            <div class="col-sm-4">
                <div class="block button">
                        <div class="block-header ">
                            Сайт-шаблон
                        </div>
                    <div class="block-content">
                        <ul >
                            <li ><i  class="bx bx-check"></i> Интегрируем готовый шаблон в CMS</li>
                            <li ><i data-v-af301bde="" class="bx bx-check"></i> Сайт-визитка</li>
                            <li ><i data-v-af301bde="" class="bx bx-check"></i> Разработка по Вашему макету</li>
                            <li  class="na"><i data-v-af301bde="" class="bx bx-x"></i>
                                <span>Услуги дизайна оговариваются отдельно</span>
                            </li>
                            <li  class="na"><i data-v-af301bde="" class="bx bx-x"></i>
                                <span>По тарифу действует акция "Сайт бесплатно"</span>
                            </li>
                            <li  class="na"></li>
                            <li class="na"></li>
                        </ul>
                    </div>
                    <div class="block-bottom">2000 р/час</div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="block button">
                    <div class="block-header ">
                        Сайт под ключ
                    </div>
                    <div class="block-content">
                        <ul >
                            <li ><i  class="bx bx-check"></i>
                                Проводится анализ проекта специалистами и формируется КП
                            </li>
                            <li ><i  class="bx bx-check"></i>
                                Подключаются разработчики не ниже medium уровня
                            </li>
                            <li ><i  class="bx bx-check"></i>
                                Месяц техподдержки в подарок
                            </li>
                            <li ><i  class="bx bx-check"></i>
                                Проект разрабатывается по scrum с 2 недельными интервалами отчетности
                            </li>
                        </ul>
                    </div>
                    <div class="block-bottom">3000 р/час</div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="block button">
                    <div class="block-header ">
                        Техподдержка
                    </div>
                    <div class="block-content">
                        <ul >
                            <li ><i  class="bx bx-check"></i>
                                При помесячной оплате: 40 чч в месяц - 100 000₽ <b>(скидка 1000 р/час)</b></li>
                            <li ><i  class="bx bx-check"></i>
                                Цена одна, независимо от привлекаемых специалистов под нужды
                            </li>
                            <li ><i  class="bx bx-check"></i>
                                Сопровождение проекта на всех его этапах ЖЦ
                            </li>
                            <li ><i  class="bx bx-check"></i>
                                Контроль за состоянием и производительностью
                            </li>
                        </ul>
                    </div>
                    <div class="block-bottom">3500 р/час</div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        name: "Price"
    }
</script>

<style scoped>

</style>
