<template>
    <div class="col-4">
        <div class="block button">
            <a href="#" class="row">
                <div class="circle col-sm-2">
                    <div class="inner">
                        <font-awesome-icon icon="fas fa-home"/>
                    </div>
                </div>
                <div class="block-header col-sm-10">
                     Наши акции
                </div>
            </a>
            <div class="block-content">
                <component :is="this.component"> </component>
            </div>
            <div class="block-bottom">Текс подписи</div>
        </div>


    </div>
</template>

<script>

    export default {
        props: {
            // Name of included component
            component: '',
            // Fa class name
            icon: ''
        },
        name: "Block",

    }

</script>

<style lang="scss" scoped>


</style>
