<template>
    <h2>Отзывы</h2>
    <carousel :items-to-show="1">
        <slide v-for="item in feedbackList" :key="slide" >
            <div class="feedback" >
                <div class="block button" >
                    <a  class="row ">
                        <div class="circle col-1">
                            <div class="inner">
                                <font-awesome-icon icon="fas fa-comment"/>
                            </div>
                        </div>
                        <div class="block-header col-9 col-xs-11">
                            {{item.title}}
                        </div>
                    </a>
                    <div class="block-content">
                        <blockquote>
                            <p>{{item.text}}</p>
                            <footer class="blockquote-footer">{{item.author}}</footer>
                        </blockquote>
                    </div>
                    <div class="block-bottom">{{item.subtext}}</div>
                </div>
            </div>
        </slide>

        <template #addons>
            <navigation />
            <pagination />
        </template>
    </carousel>

</template>

<script>
    export default {
        name: "Feedback",
        data() {
            return {
                feedbackList: [
                    {
                        title: 'Елена',
                        author : 'Ассистент президента компании Приор',
                        text: 'Советую данную компанию, так как сотрудники провели предварительную бесплатную подробную аналитику сайта компании,' +
                        ' что помогло решить не выявленные ранее проблемы работы, подробно составить план дальнейших действий, ' +
                        'за помощью будем обращаться только к данной компании. ',
                        subtext: 'Проверка после срыва предыдущей разработки',

                    },
                    {
                        title: 'Елена',
                        author : 'Ассистент президента компании Приор',
                        text: 'Советую данную компанию, так как сотрудники провели предварительную бесплатную подробную аналитику сайта компании,' +
                        ' что помогло решить не выявленные ранее проблемы работы, подробно составить план дальнейших действий, ' +
                        'за помощью будем обращаться только к данной компании. ',
                        subtext: 'Отзыв заказчика',
                    },
                ]
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import "@/../css/V1/_variables.scss";

    .feedback {
        text-align: left;
        .button {
            margin: 2rem;
        }
    }
    blockquote {
        border-left: 5px solid $btn-bg--hov;
        padding-left: 10px;

    }
</style>
