<template>
    <div class="pagi no-hover">
            <nav class="row">
                <div class="button col-3">
                    <router-link
                            :to="getUrlParam(this.links.first)"
                    >
                        <div class="circle">
                            <div class="inner">
                                <font-awesome-icon icon="fas fa-arrow-circle-left"/>
                            </div>
                        </div>
                    </router-link>
                </div>
                <div class="button col-3">
                    <router-link
                            :to="getUrlParam(this.links.prev)"
                    >
                        <div class="circle">
                            <div class="inner">
                                <font-awesome-icon icon="fas fa-arrow-alt-circle-left"/>
                            </div>
                        </div>
                    </router-link>
                </div>
                <div class="button col-3">
                    <router-link
                            :to="getUrlParam(this.links.next)"
                    >
                        <div class="circle">
                            <div class="inner">
                                <font-awesome-icon icon="fas fa-arrow-alt-circle-right"/>
                            </div>
                        </div>
                    </router-link>
                </div>
                <div class="button col-3">
                    <router-link
                            :to="getUrlParam(this.links.last)"
                    >
                        <div class="circle">
                            <div class="inner">
                                <font-awesome-icon icon="fas fa-arrow-circle-right"/>
                            </div>
                        </div>
                    </router-link>
                </div>

            </nav>

    </div>
</template>

<script>
    export default {
        name: "ButtonPagination",
        props: ['links'],

        methods: {
            getUrlParam(value) {
                if(value) {
                    const url = new URL(value);
                    let sPage = url.searchParams.get('page');
                    this.page = sPage;
                    return '?page=' + sPage;
                } else {
                    return '/article';
                }

            },
        }
    }
</script>

<style lang="scss" scoped>
    .pagi {
            .col-3 {
                text-align: center;
            }
    }

</style>
