<template>
    <div class="banner">
        <Carousel>
            <Slide v-for="slide in 1" :key="slide">
                <div class="block button no-hover col-12">
                    <a class="row">

                        <div class="block-header">
                            "Сайт бесплатно"
                        </div>
                    </a>
                    <div class="col-12">
                        <div class="carousel__item">
                            <div class="block-content">
                                <img src="@/../img/banners/5_step.jpg" style="width: 100%"/>
                            </div>
                            <div class="block-bottom">
                                <h4>Выберите готовое решение из маркетплейса и мы бесплатно его запустим.</h4>
                                <p>
                                    Сайт готов! Вы получаете готовый рабочий сайт.
                                </p>
                                <p>
                                    Оплата! Заключаем договор техподдержки и дорабатываем решение под Ваши нужды.
                                </p>
                            </div>

                        </div>
                    </div>
                </div>

            </Slide>

            <template #addons>
                <Navigation />
            </template>
        </Carousel>

    </div>

</template>

<script>
    export default {
        name: "Banner"
    }
</script>

<style lang="scss" scoped>

</style>
